body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color:azure;
}

ul li {
    float: right;
}

ul li a {
    display: block;
    color: goldenrod;
    text-align: center;
    padding: 14px 16px;
}

ul li a :hover {
    background-color: greenyellow;
}